DateTime==5.5
discord==2.3.2
discord-ext-bot==1.0.1
discord-ext-ipc==2.1.1
discord-ui==5.1.6
discord.py==2.3.2
Flask==3.0.3
Flask-DebugToolbar==0.14.1
Flask-Discord==0.1.69
Flask-SQLAlchemy==3.1.1
Jinja2
python-dotenv
SQLAlchemy
flask-sqlalchemy
flask-jwt-extended
passlib
flask-migrate
gunicorn
psycopg2
virtualenv==20.25.1
zenora
