/* Style the Body */
body {
  background: #0E0A1F;
  width: 1000px;
}

.logo {
    background-color: #150f2f;
    position: fixed;
    padding-left: 50px;
    width: 300px;
    height: 75px;
    border-bottom: 1px solid #333333;
}

/* Line up the home content */
.home-content {
    padding: 100px 16px;
    height: 500px;
}

/* Adjust font size and color */
.home-text {
  font-size: 24px;
  color: #dddddd;
  width: 100%;
}

/* Add a dark background color to the top navigation */
.topnav {
    background-color: #150f2f;
    margin-left: 300px;
    overflow: hidden;
    position: fixed;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid #333333;
  }
  
/* Style the links inside the navigation bar */
 .topnav a {
    float: left;
    color: #999;
    text-align: center;
    padding: 22px 40px;
    text-decoration: none;
    font-size: 24px;
    font-family: arial;
}
 
 /* Change the color of links on hover */
 .topnav a:hover:not(.active) {
  color: #f9eeff;
  border-color: #453a74;
  border-top-style: solid;
  border-radius: 10px;
 }
 
 /* Add a color to the active/current link */
 .topnav a.active {
    font-family: arial;
    font-weight: bold;
    color: #f9eeff;
    border-color: #2b9fca;
    border-radius: 10px;
    border-bottom-style: solid;
 }

 /* Make the form submission text box larger */
 .form-text {
   min-height: 100px;
   width: 100%;
   max-width: 450px;
 }

  /* The side navigation menu */
.sidebar {
  background-color: #0E0A1F;
  margin-top: 76px;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
  border-right: 1px solid #333333;
}

/* Sidebar links */
.sidebar a {
  background-color: #150f2f;
  display: block;
  color: #999;
  padding: 10px;
  margin-top: 25px;
  margin-left: 50px;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border-color: #150f2f;
  border-bottom-style: solid;
  width: 200px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #150f2f;
  color: #f9eeff;
  border-color: #2b9fca;
  border-radius: 10px;
  border-bottom-style: solid;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  border-color: #453a74;
  border-bottom-style: solid;
  color: #f9eeff;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  width: 1000px;
  color: #dddddd;
  margin-left: 300px;
  padding: 100px 40px;
}

/* Text on the Home Page. This will affect everything under the top menu and above the buttons */
.home-text {
  padding-bottom: 200px;
}

/* center the home text content */
.content-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* Center the homescreen button div */
.home-buttons {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* Feedback Text/Content */
.feedback-content {
  width: 50%;
  margin: auto;
  text-align: left;
}

/* Adding style to tables */
table, th, td {
  border:1px solid #333;
}

/* Add some padding to just the TH*/
th {
  padding: 0px 50px;
}

/* Give the queries table some style, dimensions and font size */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

/**/
.styled-table thead tr {
  background-color: #85eaff;
  color: #ffffff;
  text-align: left;
}

/**/
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

/**/
.styled-table tbody tr {
  color: #dddddd;
  background-color: #150f2f;
  border-bottom: 1px solid #dddddd;
}

/**/
.styled-table tbody tr:nth-of-type(even) {
  background-color: #453a74;
}

/**/
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #2b9fca;
}

/**/
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #85eaff;
}

/* Set the width of the home buttons div */
.home-buttons {
  width: 100%;
}

/* Homepage links */
.home-buttons a {
  background-color: #150f2f;
  color: #999;
  padding: 25px;
  margin: 25px;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border-color: #150f2f;
  border-bottom-style: solid;
}

/* Links on mouse-over */
.home-buttons a:hover:not(.active) {
  border-color: #453a74;
  border-bottom-style: solid;
  color: #f9eeff;
}