body
{
	background:#0E0A1F;
}

div.content
{
	color:#ddd;
	margin-left:300px;
	padding:100px 40px;
}

table,th,td
{
	border:1px solid #333;
}

th
{
	padding:0 50px;
}

.content-container
{
	margin:0 auto;
	text-align:center;
	width:100%;
}

.feedback-content
{
	background-color:#150f2f;
	border-radius:10px;
	font-family:arial;
	font-weight:700;
	margin-left:300px;
	padding:25px;
	text-align:left;
	width:400px;
}

.form-text
{
	max-width:450px;
	min-height:100px;
	width:100%;
}

.home-buttons a
{
	background-color:#150f2f;
	border-bottom-style:solid;
	border-color:#150f2f;
	border-radius:10px;
	color:#999;
	font-family:arial;
	font-weight:700;
	margin:25px;
	padding:25px;
	text-align:center;
	text-decoration:none;
}

.home-buttons
{
	margin:0 auto;
	text-align:center;
	width:50%;
}

.home-content
{
	height:500px;
	padding:100px 16px;
}

.home-text
{
	color:#ddd;
	font-size:24px;
	padding-bottom:200px;
	width:100%;
}

.logo
{
	background-color:#150f2f;
	border-bottom:1px solid #333;
	height:75px;
	padding-left:50px;
	position:fixed;
	width:300px;
}

.sidebar a
{
	background-color:#150f2f;
	border-bottom-style:solid;
	border-color:#150f2f;
	border-radius:10px;
	color:#999;
	display:block;
	font-family:arial;
	font-weight:700;
	margin-left:50px;
	margin-top:25px;
	padding:10px;
	text-align:center;
	text-decoration:none;
	width:200px;
}

.sidebar a.active
{
	background-color:#150f2f;
	border-bottom-style:solid;
	border-color:#2b9fca;
	border-radius:10px;
	color:#f9eeff;
}

.sidebar
{
	background-color:#0E0A1F;
	border-right:1px solid #333;
	height:100%;
	margin-top:76px;
	overflow:auto;
	position:fixed;
	text-align:center;
	width:300px;
}

.styled-table tbody tr
{
	background-color:#150f2f;
	border-bottom:1px solid #ddd;
	color:#ddd;
}

.styled-table tbody tr.active-row
{
	color:#85eaff;
	font-weight:700;
}

.styled-table tbody tr:last-of-type
{
	border-bottom:2px solid #2b9fca;
}

.styled-table tbody tr:nth-of-type(even)
{
	background-color:#453a74;
}

.styled-table th,.styled-table td
{
	padding:12px 15px;
}

.styled-table thead tr
{
	background-color:#85eaff;
	color:#fff;
	text-align:left;
}

.styled-table
{
	border-collapse:collapse;
	box-shadow:0 0 20px rgba(0,0,0,0.15);
	font-family:sans-serif;
	font-size:.9em;
	margin:25px 0;
	min-width:400px;
	width:100%;
}

.topnav a
{
	color:#999;
	float:left;
	font-family:arial;
	font-size:24px;
	padding:22px 40px;
	text-align:center;
	text-decoration:none;
}

.topnav a.active
{
	border-bottom-style:solid;
	border-color:#2b9fca;
	border-radius:10px;
	color:#f9eeff;
	font-family:arial;
	font-weight:700;
}

.topnav a:hover:not(.active)
{
	border-color:#453a74;
	border-radius:10px;
	border-top-style:solid;
	color:#f9eeff;
}

.topnav
{
	background-color:#150f2f;
	border-bottom:1px solid #333;
	height:75px;
	margin-left:300px;
	overflow:hidden;
	position:fixed;
	width:100%;
}

.home-buttons a:hover:not(.active),.sidebar a:hover:not(.active)
{
	border-bottom-style:solid;
	border-color:#453a74;
	color:#f9eeff;
}