/* Give the body a background color */
body
{
	background:#222255;
	margin: 0px;
}

/* Color the text of the main content div and align it on the page */
div.admin-content
{
	color:#F2F3F3;
	margin-left: 300px;
	padding:100px 40px;
}

/* Color the text of the main content div and align it on the page */
div.content
{
	color:#F2F3F3;
	margin: 0px auto;
	padding:100px 40px;
}

/* Color the text of the home content div and center it */
div.home-content
{
	color:#F2F3F3;
	text-align: center;
	padding:100px 40px;
}

/* Style the Queries table with a thin line */
table,th,td
{
	border:1px solid #555;
}

/* Give some extra room in the table th */
th
{
	padding:0 50px;
}

.content-container
{
	margin:0 auto;
	text-align:center;
	width:100%;
}

/* Color the background, align it, and make the width fixed */
.feedback-content
{
	background-color:#131331;
	margin: 0px auto;
	border-radius:10px;
	font-family:arial;
	font-weight:700;
	padding:25px;
	text-align:center;
	width:800px;
}

.form-text
{
	max-width:450px;
	min-height:100px;
	width:100%;
}

/* Style the buttons after Discord login */
.home-buttons a
{
	background-color:#131331;
	border-bottom-style:solid;
	border-color:#4477AA;
	border-radius:10px;
	color:#BBB;
	font-family:arial;
	font-weight:700;
	margin:25px;
	padding:25px;
	text-align:center;
	text-decoration:none;
}

.home-buttons
{
	margin:0 auto;
	text-align:center;
	width:50%;
}

.home-content
{
	height:500px;
	padding:100px 16px;
}

.home-text
{
	color:#F2F3F3;
	font-size:24px;
	padding-bottom:200px;
	width:100%;
}

.logo
{
	background-color:#131331;
	border-bottom:1px solid #999999;
	height:75px;
	padding-left:50px;
	position:fixed;
	width:300px;
}

/* Style the sidebar */
.sidebar a
{
	background-color:#222255;
	border-bottom-style:solid;
	border-color:#222255;
	border-radius: 10px;
	color:#BBB;
	display:block;
	font-family:arial;
	font-weight:bold;
	font-size: 18px;
	padding-top: 10px;
	margin-top: 10px;
	text-align:center;
	text-decoration:none;
	margin: 0px auto;
	width:250px;
	height:30px;
}

.sidebar a.active
{
	background-color:#222255;
	border-bottom-style:solid;
	border-color:#CCEEFF;
	border-radius:10px;
	color:#F2F3F3;
}

.sidebar
{
	background-color:#131331;
	color: #F2F3F3;
	font-family:arial;
	font-weight:bold;
	font-size:26px;
	border-right:1px solid #555;
	height:100%;
	margin-top:76px;
	padding-top: 30px;
	overflow:auto;
	position:fixed;
	text-align:center;
	width:300px;
}

.styled-table tbody tr
{
	background-color:#222255;
	border-bottom:1px solid #F2F3F3;
	color:#F2F3F3;
}

.styled-table tbody tr.active-row
{
	color:#CCEEFF;
	font-weight:700;
}

.styled-table tbody tr:last-of-type
{
	border-bottom:2px solid #CCEEFF;
}

.styled-table tbody tr:nth-of-type(even)
{
	background-color:#131331;
}

.styled-table th,.styled-table td
{
	padding:12px 15px;
}

/* Start styling the table */
.styled-table thead tr
{
	background-color:#CCEEFF;
	color:#F2F3F3;
	text-align:left;
}

.styled-table
{
	border-collapse:collapse;
	box-shadow:0 0 20px #000026;
	font-family:sans-serif;
	font-size:.9em;
	margin:25px 0;
	min-width:400px;
	width:100%;
}

/* Start styling the top navigation section */
.topnav a
{
	color:#999999;
	border-color:#4477AA;
	border-bottom-style:solid;
	float:left;
	font-family:arial;
	font-size:24px;
	padding:22px 40px;
	text-align:center;
	text-decoration:none;
}

.topnav a.active
{
	border-bottom-style:solid;
	border-color:#CCEEFF;
	color:#F2F3F3;
	font-family:arial;
	font-weight:700;
}

.topnav a:hover:not(.active)
{
	background-color: #222255;
	border-color:#F2F3F3;
	border-bottom-style:solid;
	color:#F2F3F3;
}

.topnav
{
	background-color:#131331;
	border-bottom:1px solid #999999;
	height:75px;
	margin-left:300px;
	overflow:hidden;
	position:fixed;
	width:100%;
}

.home-buttons a:hover:not(.active),

.sidebar a:hover:not(.active)
{
	border-bottom-style:solid;
	border-color:#cceeff;
	color:#F2F3F3;
}