<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To YAFS!</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="home-content">
        <br>
        <h1>Welcome to the Home page of Yet Another Feedback System (YAFS)!</h1>
        <br>
        <br>
        <div class="home-buttons">
        <a href="{{ url_for('login')}}">To get started, click here to login with Discord!</a>
        </div>
      </div>
</body>
</html>
