<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queries</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
    <div>
        <div class="logo"><img src="../static/yafslogo.png"></div>
            <div class="topnav" id="topnav">
                <a href="{{ url_for('home')}}" class="active">Home</a>
                <a href="{{ url_for('feedback')}}">Feedback</a>
                <a href="{{ url_for('admin')}}">Admin Panel</a>
            </div>
            <div class="sidebar">
                Admin Panel
                <br>
                <br>
                <a href="{{ url_for('queries')}}">Queries</a>
            </div>
    </div>
<body>
    <div class="admin-content">
        <table class="styled-table">
            <tr>
                <th>UserID</th>
                <th>Username</th>
                <th>Wants Contact?</th>
                <th>Public?</th>
                <th>Email Address</th>
                <th>Feedback Given</th>
                <th>Timestamp</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
            </tr>
            {% endfor %}
          </table>
      </div>
</body>
</html>